version: '3.8'

services:
  app:
    build:
      context: .
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
    volumes:
      - .:/app
    ports:
      - "5173:5173" # Vite dev server
    # コンテナを起動し続けるための設定
    tty: true
    stdin_open: true
    environment:
      - CHOKIDAR_USEPOLLING=true # ViteのホットリロードをDockerのVolume経由で動作させるため
